body {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.arrow-a{
  width: 25%;
  height: 25%;
  color: black;
  border-style: solid;
  border-width: 1px 1px 0 0;
  position:absolute;
  top:5px; 
  right:5px;
  }
  .red-more{
      width: 20px;
      height: 20px;
      background-color:red ;
      position: relative;
      z-index: 2;
      transform: rotate(45deg);
      margin-top: 50px;
  }

  .arrow-line{
      position:absolute;
      color: back;
      width: 70%;
      border-width:0  0 1px 0;
      top:10px;
      right: 3.5px;
      border-style: solid;
      transform: rotate(-45deg);
  }
  .circle-img{
  width: 291.6px;
  height: 291.6px;
  border-radius:50%;
  overflow:hidden;
  border: 2px solid black;
}